h1, h2, p{
    text-align: center;
}

body{
    /*background-color: rgb(228, 202, 168);*/
    background-image: url(https://www.pexels.com/photo/tea-and-donut-12366321/);
    font-style: oblique;
}

.tea-menu{
    width: 80%;
    background-color: burlywood;
   /* background-color: rgb(228, 202, 168); */
    margin-left: auto;
    margin-right: auto;
}