@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
        /* background-color:rgb(228, 202, 168); */
    /* background-image:url('https://github.com/chinitoXx/image-resources/blob/c17e8f7af825baa217e5e5d91b3c6d32ad5ab9f2/tea-symbol.jpg?raw=true'); */
    background-image:url('https://github.com/chinitoXx/image-resources/blob/c17e8f7af825baa217e5e5d91b3c6d32ad5ab9f2/pexels-teddy-yang-6415234.jpg?raw=true');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
}

h1, h2, p{
    text-align:center;
}

h1{
    font-size: 40px;
    margin:0;
}

h2{
    font-size: 35px;
}

.top-line,.bottom-line{
    height: 2px;
    background-color: rgba(228, 202, 168, 0.904);
    border-color: rgb(66, 63, 60);
    box-shadow: -0px 4px 15px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -0px 4px 15px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -0px 9px 15px 0px rgba(0,0,0,0.75);
}

.top-line{
    margin-top: 25px;
}

.bottom-line{
    margin-top: 25px;
    margin-bottom: 30px;
}

.tea-menu{
    width: 80%;
    max-width: 500px;
    background-color: rgba(228, 202, 168, 0.404);
    /* background-color: orangered; */
    margin-left:auto;
    margin-right: auto;
    /* padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px; */
    padding: 20px;
}

.established{
    font-style:italic;
}


.tea-icon{
    display: flex;
    align-items: center; 
    justify-content: center;
}



img{
    /* display: block; */
    height: 40px;
    width: 40px;
    /* margin:auto; */
    margin: auto 5px;
}

.tea-items p{
    /* background-color:orangered; */
    display: inline-block;
    font-weight: 400;
    margin: 5px 0px;
    /* margin-top: 5px;
    margin-bottom: 5px; */
}

.tea-flavor, .collections-flavor{
    width: 75%;
    /* background-color:green; */
    text-align: left;
}

.tea-price, .collections-price {
    width: 25%;
    /* background-color:yellow; */
    text-align: right;
}

footer{
    font-size: 14px;
}

a:link {
    color: black;
}

/*lvha*/
a:visited{
    color:white;
}

a:hover{
    color: lightgrey;
}

a:active{
    color: yellow;
}